.Footer {
  width: 100%;
}
.Copyright {
  font-size: 1rem;
  color: var(--text);
}
@media (max-width: 720px) {
  .Footer {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}