.Footer {
  width: 100%;
}
.FooterContainer {
  max-width: 1072px;
  padding-bottom: 5rem;
  margin: 0 auto;
}
.FooterHeader {
  font-size: 3rem;
  padding-bottom: 2.5rem;
}
.LinksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
.LinksColumn {
  flex-direction: column;
  padding-right: 1rem;
  width: 15rem;
}
.LinkText {
  padding-bottom: 2.5rem;
}
.LinkText a {
  font-style: normal;
  letter-spacing: -0.05rem;
}
.Developer {
  font-size: 1rem;
  padding-bottom: 1rem;
}
.Copyright {
  font-size: 1rem;
}
@media (max-width: 720px) {
  .FooterContainer {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .FooterHeader {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .LinkText {
    padding-bottom: 1.5rem;
  }
  .LinkText a {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .Copyright {
    font-size: 1rem;
  }
}