* {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
body {
  color: var(--text);
  background-color: var(--background);
}
a {
  color: var(--text);
  text-decoration: none;
  padding-bottom: 2px;
  transition: border-color 150ms ease-in-out;
}
a:hover {
  cursor: pointer;
  border-bottom: 1.5px solid;
  border-color: rgba(0, 0, 0, .75);
}
svg, img {
  display: block;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
h1 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
}
h4 {
  font-weight: 500;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.Container {
  max-width: 560px;
  padding-top: 160px;
  margin: 0 auto;
}
.Title {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 40px;
}
.Links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 40px;
}
::selection {
  color: var(--text);
  background: rgba(255, 204, 0, 0.5);
}
@media (max-width: 768px) {

}
:root {
  --text: #000;
  --background: #fff;
}