* {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
body {
  color: var(--body-foreground);
  background-color: var(--body-background);
}
a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  opacity: 0.7;
}
.f-headline {
  font-size: 5rem;
  line-height: 1.25;
}
.f-subheadline {
  font-size: 4rem;
  text-align: left;
}
.f1 {
  font-size: 3rem;
  line-height: 1.5;
}
.f2 {
  font-size: 2.25rem;
  line-height: 1.5;
}
.f3 {
  font-size: 1.5rem;
  line-height: 1.5;
}
.f4 {
  font-size: 1.25rem;
  line-height: 1.5;
}
.f5 {
  font-size: 1rem;
  line-height: 1.5;
}
.f6 {
  font-size: 0.875rem;
  line-height: 1.5;
}
.bold {
  font-weight: bold;
}
.AboutMeSection {
  animation: fadein 2s;
  display: flex;
  width: 100%;
  max-width: 1072px;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.AboutMeDescription {
  font-weight: 700;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
.AboutMeContext {
  font-weight: 400;
  padding-bottom: 2.5rem;
  color: #72777b;
}
.CaseStudies {
  font-weight: 400;
  padding-bottom: 5rem;
  text-align: left;
  line-height: 1.5;
}
.CaseStudiesButton {
  display: block;
  color: var(--body-foreground);
  background-color: var(--body-background);
  text-decoration: none;
}
.CaseStudiesButton:hover {
  opacity: 0.8;
}
.ArticlesHeader {
  padding-bottom: 4rem;
}
.ArticleEntry {
  width: 100%;
}
.ArticleEntryHeader {
  font-size: 24px;
}
.ArticleEntryImage {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.ProjectsSection {
  padding-bottom: 5rem;
}
.ProjectsSectionContainer {
  max-width: 1072px;
  margin: 0 auto;
}
.ProjectSectionHeader {
  font-size: 3.5rem;
  padding-bottom: 5rem;
  font-weight: 700;
}
.ProjectContainer {
  color: #1d1f20;
  background: #fff;
  width: 100%;
  padding: 3rem;
  height: 50vw;
  max-height: 600px;
  border-radius: 24px;
  margin-bottom: 5rem;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.ProjectContainer:hover {
  transform: scale(1.015);
}
.ProjectContent {
  display: flex;
  flex-direction: column;
}
.FeaturedContainer {
  max-width: 1072px;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.FeaturedContainer h2 {
  font-weight: 700;
  padding-bottom: 2.5rem;
}
.FeaturedContainer p {
  padding-bottom: 2.5rem;
}
.FeaturedContainer a {
  text-decoration: none;
}
.VirtaWorkImage {
  max-width: 100%;
  max-height: 100%;
}
.ProjectContainer:hover {
  transition: 200ms ease-in-out;
  box-shadow: 0px 24px 40px rgba(0, 0, 0, 0.1);
}
.ProjectSubHeader {
  font-size: 2rem;
}
.ProjectButton {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
}
.Twitter {
  margin-top: 48px;
}
.Follow {
  margin-bottom: 5rem;
}
.Follow,
.Follow a {
  cursor: pointer;
  text-decoration: none;
}
.Follow a:hover {
    opacity: none;
}
.Follow .Twitter {
  height: 48px;
  width: 48px;
  transition: all 0.2s ease-in-out;
}
.Follow:hover .Twitter {
  transform: scale(1.4);
}
.inline {
  display: inline-flex;
  align-items: center;
}
.Follow .TwitterText {
  visibility: hidden;
  margin-left: 24px;
  font-size: 24px;
  padding: 8px 16px;
  border-radius: 16px 16px 16px 0;
  color: var(--tweet-me-color);
  background-color: var(--tweet-me-background);
  font-weight: 400;
  opacity: 0;
  text-decoration: none;
  transition: visibility 0s, opacity 0.7s linear;
}
.Follow:hover .TwitterText {
  visibility: visible;
  opacity: 1;
}
.ProjectLink {
  color: #1d1f20;
}
.ProjectLogo {
  width: 72px;
  height: 72px;
  margin-bottom: 1.5rem;
}
@media (max-width: 720px) {
  .MyName {
    font-size: 2rem;
  }
  .AboutMe {
    font-size: 1.125rem;
    line-height: 1.5;
  }
  .AboutMeBlurb {
    font-size: 2.125rem;
    padding-bottom: 2rem;
  }
  .AboutMeSection {
    width: 100%;
    padding: 2rem 1rem;
  }
  .CaseStudies {
    padding-bottom: 2.5rem;
  }
  .Follow {
    margin-bottom: 2rem;
  }
  .FeaturedContainer {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  .FeaturedContainer h2 {
    font-size: 2.125rem;
    padding-bottom: 2rem;
  }
  .FeaturedContainer p {
    font-size: 1.5rem;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
::selection {
  background-color: #a5aed5;
}
:root {
  --nav-color: #1d1f20;
  --nav-hover-color: rgb(0, 0, 0, 0.7);
  --body-foreground: #1d1f20;
  --body-background: #fff;
  --link-color: #1d1f20;
  --tweet-me-color: #1d1f20;
  --tweet-me-background: rgba(0, 0, 0, 0.025);
}
@media (prefers-color-scheme: dark) {
  :root {
    --nav-color: #fff;
    --nav-hover-color: rgb(255, 255, 255, 0.7);
    --body-foreground: #eee;
    --body-background: #1d1f20;
    --link-color: #fff;
    --tweet-me-color: #fff;
    --tweet-me-background: rgba(255, 255, 255, 0.025);
  }
}
