.PageTitle {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 80px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.AboutParagraph {
  padding-bottom: 1rem;
}
.AboutParagraphSection {
  font-weight: 600;
  padding-bottom: 1rem;
}
.ArticleTitle {
  padding-bottom: 1.5rem;
}
.WorkExperienceRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.WorkExperienceYearColumn {
  width: 96px;
}
.WorkExperienceSection {
  padding-bottom: 5rem;
}
.SectionHeader {
  font-size: 1rem;
  font-weight: 400;
}
.WorkExperienceYear {
  width: 96px;
  font-size: 10px;
  font-weight: 400;
  line-height: 24px;
}
.WorkTitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  width: 100%;
  padding-bottom: 0.25rem;
}
.Location {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 16px;
}
@media (max-width: 720px) {
  .Container {
    margin: 0px 24px;
  }
  .WorkExperienceRow {
    flex-direction: column;
    gap: 0px;
    padding-bottom: 40px;
  }
  .ProjectHeader {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .ProjectsSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ProjectItem {
    width: 100%;
    height: 60vh;
    max-height: 450px;
  }
  .ProjectItemDetails {
    padding: 20px 25px;
  }
}