.Nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 2rem;
  border-bottom: 1px solid var(--black);
}
.NavItem {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: var(--black);
}
.NavItem::before {
  content: none;
  margin-left: 0;
}
.NavItemGroup {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .Nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    align-items: baseline;
    padding: 1rem;
  }
}