.Nav {
  position: fixed;
  min-width: 100%;
  background-color: var(--nav-background);
  -webkit-backdrop-filter: blur(6px);
  z-index: 20;
}
.NavContainer {
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}
.NavContainerRight {
  text-align: right;
}
.NavContainerLeft {
  text-align: left;
}
.HomeLink {
  cursor: pointer;
  fill: var(--nav-color);
}
.HomeLink:hover {
  fill: var(--nav-hover-color);
}
.NavLink {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: var(--nav-color);
}
.NavLink:hover {
  color: var(--nav-hover-color);
}
.GetInTouch {
 font-size: 14px;
}
.NavLinksRight {
  display: inline-flex;
  align-items: center;
  text-align: right;
  list-style: none;
}
.NavLinksRight li {
  padding-right: 2.5rem;
}
.NavLinksRight li:last-of-type {
  padding-right: 0;
}
.NavLinksLeft li {
  padding-left: 2.5rem;
}
.NavLinksLeft li:first-of-type {
  padding-left: 0;
}
.NavLinksLeft {
  display: inline-flex;
  align-items: center;
  list-style: none;
}
@media (max-width: 720px) {
  .NavContainer {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .HomeLink {
    font-size: 14px;
  }
  .NavLink {
    font-size: 14px;
  }
}